.post-detail-card {
    position: relative; /* Add relative positioning */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 80%; /* Use a percentage width to cover most of the screen */
    max-width: 1200px; /* Set a maximum width */
    margin: 60px auto 20px auto; /* Add top margin to create space below the navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.post-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-detail-actions {
    display: flex;
    gap: 10px;
}

.post-detail-card h2 {
    margin-top: 0;
}

.post-detail-card p {
    color: #cccccc;
    margin: 10px 0;
}

.post-image {
    max-width: 80%; /* Adjust the maximum width to make the image smaller */
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.post-iframe {
    width: 100%;
    height: 400px; /* Increase height for better visibility */
    border-radius: 5px;
    margin-top: 10px;
}

.upvote-container {
    margin-top: 20px; /* Add some space above the upvote button */
}

.upvote-button,
.edit-button,
.delete-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #333;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 5px;
}

.upvote-button:hover,
.edit-button:hover,
.delete-button:hover {
    background-color: #5832c0;
}

.comments-section {
    margin-top: 20px;
    text-align: left;
}

.comments-section h3 {
    margin-bottom: 10px;
}

.comments-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comments-section textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    resize: vertical;
}

.comments-section button {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #cccccc;
    background-color: #333;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.comments-section button:hover {
    background-color: #5832c0;
}

.comments-list {
    margin-top: 20px;
}

.comment {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}

.comment p {
    margin: 0;
}

.comment span {
    display: block;
    margin-top: 5px;
    color: #888;
    font-size: 12px;
}
